[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=0.1.0

# The name of the application
Name=Buildertron

# A comment which can/will be used as a tooltip
Comment=Front-end for buildozer and script creator

# The executable of the application, possibly with arguments.
Exec=buildertron

Path=

# The name of the icon that will be used to display this entry
Icon=/usr/local/share/buildertron/buildertron.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Utility;Application;